<!DOCTYPE html>
<html>
<head>
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>年会抽奖小程序</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/wall.css">
    <link rel="stylesheet" type="text/css" href="css/lotteryn.css">
</head>
<body>
<div id="lottery-container" class="lottery-container">
  <div id="main" class="wall"></div>
  <div class="lottery-music">
    <div class="music-icon "
         v-on="click: musicPlay"
         v-class="pause: isPause">
      <i class="fa fa-music ">
        <img class="music-img" src="./img/lottery--music-icon.png" alt="">
      </i>
      <audio
            id="audioPlayer"
             loop
             src="./music/annal-meeting-music.mp3"
             preload="auto"></audio>
    </div>
  </div>
  <div id="wall-context" class="wall-wrapper-context">
    <h5 class="result-head"></h5>
    <h6 class="result-prize">
      <template v-if="+pizeSelect === 1">
        <img src="./img/1.png" alt="">
      </template>
      <template v-if="+pizeSelect === 2">
        <img src="./img/2.png" alt="">
      </template>
      <template v-if="+pizeSelect === 3">
        <img src="./img/3.png" alt="">
      </template>
      <template v-if="+pizeSelect === -1">
        <img src="./img/4.png" alt="">
      </template>
    </h6>
    <div id="result" class="result"></div>
    <div class="result-footer">
      <img class="footer-god left-god" src="./img/left-god.png" alt="">
      <img class="footer-god right-god" src="./img/right-god.png" alt="">
    </div>
  </div>
  <div id="tools" class="tools">
    <button
      v-on="click: onClick($value)"
      class="pure-button"
      v-class="button-error: selected == $value"
      v-repeat="btns">{{$value}}</button>
    <div class="pize-select-wrapper">
      <select class="pize-select"
              v-model="pizeSelect">
        <option  value="-1">特等奖</option>
        <option value="1">一等奖</option>
        <option value="2">二等奖</option>
        <option value="3">三等奖</option>
      </select>
    </div>
    <button
      class="pure-button"
      v-on="click: toggle"
      v-class="
                button-secondary: !running,
                button-success: running
            ">{{running?'停!':'开始'}}</button>
    <button class="pure-button button-warning" v-on="click: reset">重置</button>
  </div>
  <div class="result-win-list">
    <div class="list-box">
     <h1 class="win-title">特等奖</h1>
      <div id="win-import" class="win-prize-item"></div>
    </div>
    <div class="list-box">
      <h1 class="win-title">一等奖</h1>
      <div id="win-first" class="win-prize-item"></div>
    </div>
    <div class="list-box">
      <h1 class="win-title">二等奖</h1>
      <div id="win-second" class="win-prize-item"></div>
    </div>
    <div class="list-box">
      <h1 class="win-title">三等奖</h1>
      <div id="win-three" class="win-prize-item"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/zepto.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/tagcanvas.js"></script>
<script type="text/javascript" src="js/member.js"></script>
<script type="text/javascript">
    (function(){
        var choosed = JSON.parse(localStorage.getItem('choosed')) || {};
        var winFirst = JSON.parse(localStorage.getItem('win-first')) || [];
        var winSecond = JSON.parse(localStorage.getItem('win-second')) || [];
        var winThree = JSON.parse(localStorage.getItem('win-three')) || [];
        var winImport = JSON.parse(localStorage.getItem('win-import')) || [];
        console.log(winFirst);
      $('#win-first').html('<span>' + winFirst.join('</span><span>') + '</span>');
      $('#win-second').html('<span>' + winSecond.join('</span><span>') + '</span>');
      $('#win-three').html('<span>' + winThree.join('</span><span>') + '</span>');
      $('#win-import').html('<span>' +winImport.join('</span><span>') + '</span>');
        var speed = function(){
            return [0.1 * Math.random() + 0.01, -(0.1 * Math.random() + 0.01)];
        };
        var getKey = function(item){
            // return item.name + '-' + item.phone;
            return item.name;
        };
        var createHTML = function(){
            var html = [ '<ul>' ];
            member.forEach(function(item, index){
                item.index = index;
                var key = getKey(item);
                var color = choosed[key] ? 'yellow' : 'white';
                html.push('<li><a href="#" style="color: ' + color + ';">' + item.name + '</a></li>');
            });
            html.push('</ul>');
            return html.join('');
        };
        var lottery = function(count){
            var total = member.length;
            var ret = [];
            var list = canvas.getElementsByTagName('a');
            var color = '#' + ('00000' + Math.floor(Math.random() * 0xffffff)).slice(-6);
            var color = 'yellow';
            for(var i = 0; i < count; i++){
                do {
                    var id = Math.ceil(Math.random() * total);
                    if(member[id]){
                        var key = getKey(member[id]);
                    }
                } while(choosed[key]);
                choosed[key] = 1;
                ret.push(member[id].name);
                // ret.push(member[id].name + '<br/>' + member[id].phone);
                list[id].style.color = color;
            }
            localStorage.setItem('choosed', JSON.stringify(choosed));
            return ret;
        };
        var canvas = document.createElement('canvas');
        canvas.id = 'myCanvas';
        canvas.width = document.body.offsetWidth;
        canvas.height = document.body.offsetHeight;
        document.getElementById('main').appendChild(canvas);
        new Vue({
            el: '#lottery-container',
            data: {
              isPause: true,
              btns: [
                10,6, 3, 1
              ],
              lotteryAwardList:{
                "1":'./img/1.png'
              },
              winFirstList:[],
              winSecondList:[],
              winThreeList:[],
              winImportList:[],
              pizeSelect:3,
              selected: 1,
              running: false,
              
            },
            ready: function(){
                canvas.innerHTML = createHTML();
                TagCanvas.Start('myCanvas', '', {
                    textColour: null,
                    initial: speed(),
                    dragControl: 1,
                    textHeight: 14
                });
            },
            methods: {
              musicPlay: function(){
                var  audioPlayer  =  document.getElementById('audioPlayer');
                if (audioPlayer.paused) {
                  audioPlayer.play();
                  this.isPause = false;
                } else {
                  audioPlayer.pause();
                  this.isPause = true;
                }
              },
                reset: function(){
                    if(confirm('确定要重置么？所有之前的抽奖历史将被清除！')){
                        localStorage.clear();
                        location.reload(true);
                    }
                },
                onClick: function(num){
                    $('#wall-context').css('display', 'none');
                    $('#main').removeClass('mask');
                    this.selected = num;
                },
                toggle: function(){
                    if(this.running){
                        this.musicPlay();
                        TagCanvas.SetSpeed('myCanvas', speed());
                        var ret = lottery(this.selected);
                        $('#result').html('<span>' + ret.join('</span><span>') + '</span>');
                        $('#wall-context').css('display', 'block');
                        TagCanvas.Reload('myCanvas');
                        setTimeout(function(){
                            localStorage.setItem(new Date().toString(), JSON.stringify(ret));
                            $('#main').addClass('mask');
                        }, 300);
                       if(+this.pizeSelect === 1){
                         localStorage.setItem('win-first', JSON.stringify(ret));
                            this.winFirstList = this.winFirstList.concat(ret);
                           $('#win-first').html('<span>' + this.winFirstList.join('</span><span>') + '</span>');
                       }else if(+this.pizeSelect ===2){
                         localStorage.setItem('win-second', JSON.stringify(ret));
                         this.winSecondList = this.winSecondList.concat(ret);
                         $('#win-second').html('<span>' + ret.join('</span><span>') + '</span>');
                       }else if(+this.pizeSelect ===3){
                         localStorage.setItem('win-three', JSON.stringify(ret));
                         this.winThreeList = this.winThreeList.concat(ret);
                         $('#win-three').html('<span>' + ret.join('</span><span>') + '</span>');
                       }else if(+this.pizeSelect === -1){
                         localStorage.setItem('win-import', JSON.stringify(ret));
                         this.winImportList = this.winImportList.concat(ret);
                         $('#win-import').html('<span>' + ret.join('</span><span>') + '</span>');
                       }
                    } else {
                        $('#wall-context').css('display', 'none');
                        this.musicPlay();
                        $('#main').removeClass('mask');
                        TagCanvas.SetSpeed('myCanvas', [5, 1]);
                    }
                    this.running = !this.running;
                }
            }
        });
    })();
</script>
</body>
</html>